// Generated at Tue, 27 Nov 2018 15:11:57 GMT by svg-sprite with custom sass template

.icon
  fill: currentColor
  height: 1em

.icon-skype
  width: (100 / 100) * 1em

.icon-telegram
  width: (115 / 100) * 1em

